@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
  scroll-behavior: smooth;

};

body{
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;

};

h1{
  font-size: 100px;
};
h2{
  font-size: 75px;
};
h3{
  font-size: 50px;
};

@media (max-width: 320px){

};
@media screen and (max-width: 768px){
  .principal {
    flex-direction: row;
    align-items: center;
  }
  .imagemLocal {
    max-width: 100%;
  }
};
@media (max-width: 1024px){

};
