@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.listarTitulo{
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  max-width: 1090px;
  font-size: 2.5rem;
  font-family: Roboto;
  border: solid 0.3rem #06a180;
  border-radius: 1rem;
  padding: 1rem;
}
.botoesDiv{
  margin: 1rem auto;
  display: flex;
  justify-content: right;
  max-width: 1090px;
}
.buttonCad{
  color: #06a180;
  background-color: ghostwhite;
  border: solid 0.2rem #06a180;
  border-radius: 0.5rem;
  font-size: 20px;
  height: 2.5rem;
  width: 8rem;
  margin: 1rem;
}
.buttonCad:hover{
  background-color: #06a180;
  color: white;
  animation-delay: 100s;

}
.buttonEdt{
  color: #06a180;
  background-color: ghostwhite;
  border: solid 0.2rem #06a180;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 4rem;
  margin: 0.5rem;
}
.buttonEdt:hover{
  background-color: #06a180;
  color: white;
  animation-delay: 100s;
}
.buttonEdtEnderec{
  color: #06a180;
  background-color: ghostwhite;
  border: solid 0.2rem #06a180;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
  margin: 0.5rem;
}
.buttonEdtEnderec:hover{
  background-color: #06a180;
  color: white;
  animation-delay: 100s;
}
.buttonExc{
  color: #06a180;
  background-color: ghostwhite;
  border: solid 0.2rem #06a180;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 6rem;
  margin: 0.5rem;
}
.buttonExc:hover{
  background-color: #f31d1d;
  color: white;
  animation-delay: 100s;
  border: solid 0.2rem black;
}
.link{
  text-decoration: none;
  color: #06a180;
}
.link:hover{
  text-decoration: none;
  color: white;
}
.listarContainer{
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: left;
  font-family: Roboto;
  max-width: 1090px;
  border: solid 0.2rem #06a180;
  border-radius: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}
.listarDiv{
  font-size: 1.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border: solid 0.2rem #06a180;
  border-radius: 1rem;
}
.item{
  font-weight: 500;
  padding: 0.5rem;
}

/* FILTRO DE BUSCA */
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.inputSearch{
  width: 20rem;
  height: 1.5rem;
  margin: 10px;
  border: 0.2rem solid #06a180;
  border-radius: 0.3rem;
  font-size: 15px;
}
.labelSearch{
  display: flex;
  align-items: center;
  font-size: 25px;
}

