.contatos{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  max-width: 1100px;
  gap:50px;
  font-family: Roboto, sans-serif;

}
.contatoH1{
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  max-width: 1090px;
  font-size: 2.5rem;
  font-family: Roboto;
  border: solid 0.3rem #06a180;
  border-radius: 1rem;
  padding: 1rem;

}
.contatoP{
  margin: 1rem;
  padding: 1rem;
  font-size: 2.0rem;
  text-align: justify;

}
.contatoIcons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.3rem;
  margin: auto;
  max-width: 600px;
  gap: 20px;

}
.contatoLocal{
  padding: 2rem;
  align-items: center;
  text-align: center;
  background-color: #06a180;
  border-radius: 1rem;
  font-family: Roboto, sans-serif;
  color: white;

}
.contatoLocal p {
  margin: 0.4rem;

}
.contatoTel{
  padding: 2rem;
  align-items: center;
  text-align: center;
  background-color: #06a180;
  border-radius: 1rem;
  font-family: Roboto, sans-serif;
  color: white;

}
.contatoTel p {
  margin: 0.5rem;
}
.icon{
  font-size: 3rem;
  color: white;
}
