/* SLIDER */
.slider {
  margin: 1rem auto;
  /*height: 28.5rem;*/
  /*overflow: hidden;*/
  width: 100%;
  max-width: 1128px;
  /*padding: 0 2rem 0 2rem;*/
}
.carousel .thumb {
  display: none;
  /*height: 5rem;*/
}
.carousel {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0.4rem solid #06a180;
  border-radius: 2rem;
}
/* MAIN */
.principal {
  margin: 1rem auto;
  /* height: 28.5rem;  */
  width: 98%;
  max-width: 1128px;
  /* padding: 0 2rem 0 2rem;  */
  border: 0.4rem solid #06a180;
  border-radius: 2rem;
  /* overflow: hidden; */
  display: flex;
}
.imagemLocal {
  width: 45%;
  border-radius: 2rem;
  margin: 1rem;
}
.principal p {
  display: flex;
  font-size: 1.8rem;
  margin: 3rem;
  text-align: justify;
  align-items: center;
}
/* Tipos */
.tipos {
  margin: 0 auto;
  color: #FAFAFA;
  background-color: #06a180;
  display: flex;
  justify-content: center;
  max-width: 1128px;
  border-radius: 2rem;
}

.tipos .icon {
  font-size: 6rem;
  margin: 2rem 6rem;
  cursor: pointer;
}

PRODUTOS
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: solid 0.5rem #06a180;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: #06a180;
  width: 92%;
  max-width: 1100px;
}
.produtos {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  max-width: 1128px;
  border-radius: 2rem;
  flex-wrap: wrap;
}
