.divForm {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 1100px;
  border: solid #06a180 0.2rem;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;


}
.lblForm {
  margin: 1rem;
  font-size: 1.4rem;

}
/* .lblFormAposent {
  margin: 1px;
  padding: 15px;
  font-size: 1.3rem;
  border: #06a180 solid 2px;
  border-radius: 1rem;
  background-color: #f0f0f0;
} */
.inputForm {
  background-color: #f0f0f0;
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: #06a180 solid 2px;
  border-radius: 0.5rem;

}
/* .inputcheckbox {
  margin: 2rem;
  padding: 2rem;
  height: 1rem;
  width: 1.5rem;
  border: #06a180 solid 0.2rem;
  background-color: #f0f0f0;
} */

.divbtn {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.cadbtn {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: #06a180 solid 2px;
  border-radius: 0.5rem;

}
.cadbtn:hover {
  background-color: #06a180;
  color: white;
}
.cancbtn {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: #06a180 solid 2px;
  border-radius: 0.5rem;

}
.cancbtn:hover {
  background-color: red;
  border: red solid 2px;
  color: white;
}
.small {
  color: red;
  font-size: 0.8rem;
  margin-left: 1rem;
}



