.pacientesList{
  max-width: 1128px;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 0.2rem solid black;
  border-radius: 2rem;
  overflow: hidden;
  margin: 1rem 1rem;
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inputSearch{
  width: 30rem;
  height: 1.5rem;
  margin: 15px;
}
.labelSearch{
  display: flex;
  align-items: center;
  font-size: 25px;
}


